<section>
  <div class="page-header">
    <h1>{{vm.studentForm._id ? 'Edit Student Form' : 'New Student Form'}}</h1>
  </div>
<!--  Form of studentForm -->
          <div class="bootstrap-iso">
           <div class="container-fluid">
            <div class="row">
              <form name="vm.studentFormForm" class="form-horizontal" ng-submit="vm.saveStudentForm(vm.studentFormForm.$valid)" novalidate>
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="form-group ">
                   <label class="control-label " for="select">
                    Select Category
                   </label>
                   <select type="text" class="select form-control" id="category" name="category" ng-change="getRelevantForms()"  ng-model="vm.studentForm.categoryId">
                     <option ng-repeat="cat in vm.allCategories" value="{{cat._id}}">{{cat.categoryName}}</option>
                   </select>
                  </div>
              </div>
              <div ng-show="vm.isForms">
              <div class="col-md-6 col-md-offset-2 col-sm-6 col-xs-12">
                <div class="form-group ">
                 <div class="panel panel-primary">
                  <div class="panel-heading"> Choose The Form</div>
                   <div class="panel-body">
                     <fieldset id="group2"><div id="showRelForms"></div></fieldset>
                </div>
              </div>
              </div>
            </div>
              </form>
            </div>
            <div id="formContent"></div>
           </div>
          </div>

</section>
