<section>
  <div>
    <h3>{{vm.role._id ? 'Edit Role' : 'Create Role'}}</h3>
    <hr>
  </div>
<!--  Form of categroy -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <form name="vm.roleForm" class="form-horizontal" ng-submit="vm.saveRole(vm.roleForm.$valid)" novalidate>
          <div class="row">
            <div class="form-group col-md-12" show-errors>
              <label class="control-label" for="name">Name</label>
              <input name="name" type="text" ng-model="vm.role.name" id="name" class="form-control" placeholder="Name" required>
              <div ng-messages="vm.roleForm.name.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Role name is required.</p>
              </div>
            </div>
            <div class="form-group col-md-12" show-errors>
              <label class="control-label" for="name">DisplayName</label>
              <input name="DisplayName" type="text" ng-model="vm.role.displayName" id="name" class="form-control" placeholder="DisplayName" required>
              <!-- <button type="submit" class="btn btn-primary">{{vm.role._id ? 'Update' : 'Create'}} -->
              <div ng-messages="vm.roleForm.displayName.$error" role="alert">
                <p class="help-block error-text" ng-message="required">DisplayName is required.</p>
              </div>

            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">{{vm.role._id ? 'Update' : 'Create'}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

<!-- end of Form of categroy -->
<!-- list of Categories -->
<div class="panel panel-default">
    <div class="panel-heading"><span class="lead">Roles</span></div>
     <div class="page-header">
      <div class="tablecontainer" id="exportthis">
        <table class="table table-bordered row-border" datatable="ng">
          <thead>
            <tr>
              <th>Role</th>
              <th>Display Name</th>
              <th width="20%">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="role in vm.allRoles">
              <td><span ng-bind="role.name"></span></td>
              <td><span ng-bind="role.displayName"></span>
              <td>
                <a class="btn btn-primary" ng-click="editRole(role)" >
                  <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-primary-delete" data-toggle="modal" ng-click="openDeleteModal(role)">
                 <i class="glyphicon glyphicon-trash"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div id="deleteConfirmModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <center><h2>Are sure Wanna Delete?</h2></center>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger"  ng-click="deleteRole()" >Delete</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        </div>
      </div>

    </div>
  </div>
<!-- end of List of forms -->
</section>
